.container {
    max-width: 480.77px;
    margin: 0 auto;
    object-fit: cover;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.34186px 0 5.34186px 0;
    gap: 21.03px;

    width: 480.77px;
    height: 29.03px;

    /* Neutral/White */
    background: #FFFFFF;
    /* Shadow/4px */
    box-shadow: 0px 4px 8px rgba(171, 190, 209, 0.4);
}

.left-navbar {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    margin-left: 30px;

}

.icon {
    width: 11.69px;
    height: 8.01px;

}

.text-icon {
    font-family: Inter;
    font-size: 10px;
    width: 37.22px;
    height: 6.9px;
    font-weight: 900;
    margin-bottom: 7px;

    /* Brand/Secondary */
    color: #263238;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.right-navbar {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-right: 35px;

    width: 312px;
    height: 18.35px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.right {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 34.05px;
    height: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.34186px;
    line-height: 8px;
    color: #4D4D4D;
}

.register-button {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px ;

    width: 75.38px;
    height: 18.35px;

    /* Brand/Primary */
    background: #4CAF4F;
    border: 1px solid #4CAF4F;
    border-radius: 1.33547px;

}

.button-text {
    width: 40px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.34186px;
    line-height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;    
}

.blog {
    margin-left: 15px;
}

.banner-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34.72px;

    width: 480.77px;
    height: 199.99px;

    /* Neutral/Silver */
    background: #F5F7FA;

    /* Inside auto layout */
    flex: none;
    align-self: stretch;

}
.banner-title {
    width: 219.35px;
    height: 51px;
    margin-top: 70px;
    margin-left: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21.3675px;
    line-height: 25px;
    /* or 119% */

    /* Neutral/D_Grey */
    color: #4D4D4D;


    /* Inside auto layout */
    flex: none;
    align-self: stretch;

}

.banner-span {
    color: #4CAF4F;
}

.banner-text {
    position: absolute;
    width: 219.35px;
    height: 9px;
    margin-top: 130px;
    margin-left: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.34186px;
    line-height: 8px;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.banner-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.67413px 15.6837px;
    gap: 3.34px;
    margin-left: 60px;
    margin-top: 120px;

    width: 43.37px;
    height: 18.35px;

    /* Brand/Primary */
    background: #4CAF4F;
    border: 1px solid #4CAF4F;
    border-radius: 1.33547px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.banner-button-text {
    width: 22px;
    height: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.34186px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.three-dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2.67px;

    position: absolute;
    width: 15.36px;
    height: 3.34px;
    left: calc(50% - 15.36px/2 - 0px);
    top: 170.35px;
}
.green-dot {
    color: red;
}

.about-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.34px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    width: 480.77px;
    height: 64.73px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.client-header {
    width: 370.59px;
    height: 15px;
    margin-left: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.0192px;
    line-height: 15px;
    text-align: center;

    /* Neutral/D_Grey */
    color: #4D4D4D;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.client-text {
    width: 370.59px;
    height: 9px;
    margin-left: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.34186px;
    line-height: 8px;
    text-align: center;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.client-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10.68px;
    margin-left: 60px;

    width: 384.61px;
    height: 32.72px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.management-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5.34px;

    width: 480.77px;
    height: 141.75px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.management-title {
    width: 180.96px;
    height: 30px;
    margin: 15px auto 0 auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.0192px;
    line-height: 15px;
    text-align: center;

    /* Neutral/D_Grey */
    color: #4D4D4D;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.management-description {
    width: 480.77px;
    height: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.34186px;
    line-height: 8px;
    text-align: center;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 8.68px;

    width: 480.77px;
    height: 94.73px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.card-icon {
    width: 21.7px;
    height: 18.7px;
    margin-left: 35px;
}

.info {
    width: 77.12px;
    height: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 9.34826px;
    line-height: 12px;
    text-align: center;

    /* Neutral/D_Grey */
    color: #4D4D4D;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.card-info {
    width: 89.14px;
    height: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 9.34826px;
    line-height: 12px;
    text-align: center;

    /* Neutral/D_Grey */
    color: #4D4D4D;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card-description {
    width: 83.8px;
    height: 21px;
    margin-top: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4.67413px;
    line-height: 7px;
    text-align: center;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.card-1 {
    padding: 8.0128px 10.6837px;
    gap: 2.67px;

    margin: 0 auto;
    width: 99.83px;
    height: 88.73px;

    /* Neutral/White */
    background: #FFFFFF;
    box-shadow: 0px 0.667733px 1.33547px rgba(171, 190, 209, 0.2);
    border-radius: 2.67093px;
}

.card-2 {
    padding: 8.0128px 10.6837px;
    gap: 2.67px;

    margin: 0 auto;
    width: 99.83px;
    height: 88.73px;

    /* Neutral/White */
    background: #FFFFFF;
    box-shadow: 0px 0.667733px 1.33547px rgba(171, 190, 209, 0.2);
    border-radius: 2.67093px;
}

.card-3 {
    padding: 8.0128px 10.6837px;
    gap: 2.67px;

    margin: 0 auto;
    width: 99.83px;
    height: 88.73px;

    /* Neutral/White */
    background: #FFFFFF;
    box-shadow: 0px 0.667733px 1.33547px rgba(171, 190, 209, 0.2);
    border-radius: 2.67093px;
}

.pixel-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-top: 30px;

    width: 480.77px;
    height: 144.56px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pixel-image {
    margin: 0 auto;
    width: 147.57px;
    height: 144.56px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pixel-wrapper {
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10.68px;

    margin: 25px 53px 0 0;
    width: 220.69px;
    height: 91.37px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pixel-title {
    width: 200.65px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.0192px;
    line-height: 15px;

    /* Neutral/D_Grey */
    color: #4D4D4D;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.pixel-description {
    width: 200.65px;
    height: 27px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4.67413px;
    line-height: 7px;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.pixel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.67413px 10.6837px;
    gap: 3.34px;

    width: 50.37px;
    height: 18.35px;

    /* Brand/Primary */
    background: #4CAF4F;
    border-radius: 1.33547px;
    border: #4CAF4F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pixel-button-info {
    width: 29px;
    height: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.34186px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.business-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10.02px;

    width: 480.77px;
    height: 100.09px;
    margin-top: 30px;

    /* Neutral/Silver */
    background: #F5F7FA;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.business-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2.67px;

    margin: 0 0 0 55px;
    width: 180.29px;
    height: 41.67px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.business-title {
    width: 136.22px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.0192px;
    line-height: 15px;

    /* Neutral/D_Grey */
    color: #4D4D4D;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.business-color {
    color: #4CAF4F;
}

.business-description {
    width: 180.29px;
    height: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.34186px;
    line-height: 8px;

    /* Text / Gray 900 */
    color: #18191F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.business-counts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13.35px;

    margin-right: 80px;
    width: 180.29px;
    height: 57.35px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.business-counts-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10.02px;

    width: 180.29px;
    height: 22px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.business-counts-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10.02px;

    width: 180.29px;
    height: 22px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.counting-icon {
    width: 16.03px;
    height: 16.03px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.count {
    width: 63.77px;
    height: 13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 9.34826px;
    line-height: 12px;

    /* Neutral/D_Grey */
    color: #4D4D4D;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.separator {
    margin-left: 30px;
}

.count-info {
    width: 63.77px;
    height: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.34186px;
    line-height: 8px;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.count {
    display: flex;
    flex-direction: row;
}

.how-to-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 480.77px;
    height: 144.7px;
    margin-top: 30px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.how-to-img {
    margin: 0 auto;
    width: 147.41px;
    height: 144.7px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.how-to-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10.68px;

    margin: 20px auto 0 auto;
    width: 220.69px;
    height: 91.37px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.how-to-title {
    width: 200.65px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.0192px;
    line-height: 15px;

    /* Neutral/D_Grey */
    color: #4D4D4D;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.how-to-description {
    width: 200.65px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4.67413px;
    line-height: 7px;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.how-to-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.67413px 10.6837px;
    gap: 3.34px;

    width: 50.37px;
    height: 18.35px;

    /* Brand/Primary */
    background: #4CAF4F;
    border-radius: 1.33547px;
    border: 1px solid #4CAF4F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.how-to-button-info {
    width: 29px;
    height: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.34186px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.product-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26.04px;

    width: 480.77px;
    height: 132.09px;
    margin-top: 20px;

    /* Neutral/Silver */
    background: #F5F7FA;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.product-divs-wrapper {
    display: flex;
    flex-direction: row;

    background: url(.jpg);
    filter: drop-shadow(0px 2.67093px 5.34186px rgba(171, 190, 209, 0.4));
    border-radius: 2.67093px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    width: 249.73px;
    height: 110.72px;
    margin-left: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.product-image {
    width: 108.84px;
    height: 108.84px;

    background: url(.png);
    filter: drop-shadow(0px 2.67093px 5.34186px rgba(171, 190, 209, 0.4));
    border-radius: 2.67093px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.product-info {
    width: 249.73px;
    height: 110.72px;
    margin-left: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.product-description {
    width: 249.73px;
    height: 57px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.34186px;
    line-height: 8px;
    display: flex;
    align-items: center;

    /* Neutral/Grey */
    color: #717171;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product-owner {
    width: 249.73px;
    height: 10px;
    margin-top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 9.67733px;
    line-height: 9px;
    display: flex;
    align-items: center;

    /* Brand/Primary */
    color: #4CAF4F;
}

.product-company {
    width: 249.73px;
    height: 9px;
    margin-top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5.34186px;
    line-height: 8px;
    display: flex;
    align-items: center;

    /* Neutral/L_Grey */
    color: #89939E;
}

.product-logos-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10.68px;

    width: 249.73px;
    height: 16.03px;
    margin-top: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.product-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13.69px;

    width: 164.6px;
    height: 16.03px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.meet-customers {
    width: 75.77px;
    height: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 6.67733px;
    line-height: 9px;

    /* Brand/Primary */
    color: #4CAF4F;
}